body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

/* Full height image header */
.bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image: url("./img/header.jpg");
    min-height: 100%;
}
.w3-bar .w3-button {
    padding: 16px;
}

agm-map {
    height: 300px;
  }
  