<!-- Navbar (sit on top) -->
<div class="w3-top">
    <div class="w3-bar w3-white w3-card" id="myNavbar">
      <a href="#home" class="w3-bar-item w3-button w3-wide">LOGO</a>
          
      <form class="form-inline mt-2 ml-2">
          <input class="form-control my-0 py-0" type="text" placeholder="Email Address" style="max-width: 150px;">
          <button class="btn btn-sm btn-primary ml-2 px-1  w3-dark-grey"><i class="fa fa-search"></i>  </button>
      </form>
      <!-- Right-sided navbar links -->
      <div class="w3-right w3-hide-small">
        <a href="#about" class="w3-bar-item w3-button">ABOUT</a>
        <a href="#team" class="w3-bar-item w3-button"><i class="fa fa-user"></i> TEAM</a>
        <a href="#pricing" class="w3-bar-item w3-button"><i class="fa fa-usd"></i> PRICING</a>
        <a href="#contact" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> CONTACT</a>
      </div>
      <!-- Hide right-floated links on small screens and replace them with a menu icon -->
  
      <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </div>
  
<!--Top Table UI-->
<div class="card p-2 mb-5 ">
    
        <!--Grid row-->
        <div class="row">
  
    
        </div>
        <!--Grid row-->
    
    </div>
    <!--Top Table UI-->
    
    <div class="card card-cascade narrower w3-light-grey">
    
        <!--Card image-->
        <div class="view gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">
    
    
        </div>
        <!--/Card image-->
    
        <div class="px-4">
    
            <div class="table-wrapper">
                <!--Table-->
                <table class="table table-hover mb-0">
    
                    <!--Table head-->
                    <thead>
                        <tr>

                            <th class="th-lg"><a>Account Owner<i class="fa fa-sort ml-1"></i></a></th>
                            <th class="th-lg"><a href="">Email<i class="fa fa-sort ml-1"></i></a></th>
                            <th class="th-lg"><a href="">Url<i class="fa fa-sort ml-1"></i></a></th>
                            <th class="th-lg"><a href="">Status<i class="fa fa-sort ml-1"></i></a></th>                        
                            <th class="th-lg"><a href="">Creation Date<i class="fa fa-sort ml-1"></i></a></th>                      
                            
                        </tr>
                    </thead>
                    <!--Table head-->
    
                    <!--Table body-->
                    <tbody>
                        <tr>
   
                            <td>Andrew Larsen</td>
                            <td>andrew.larse514@gmail.com</td>
                            <td>http://andrew.vssdevelopment.com</td>
                            <td>CREATE_COMPLETE</td>
                            <td>Nov 9, 2017</td>                            
                            <td><button class="btn btn-danger" (click)="deleteTenant(stack.stackName)" >Delete</button></td>                            
                           
                        </tr>
                        <tr>

                            <td>Andrew Larsen</td>
                            <td>andrew.larse514@gmail.com</td>
                            <td>http://andrew.vssdevelopment.com</td>
                            <td>CREATE_COMPLETE</td>
                            <td>Nov 9, 2017</td>                                                        
                            <td><button class="btn btn-danger" (click)="deleteTenant(stack.stackName)" >Delete</button></td>                            
                           
                        </tr>
                        <tr>
    
                            <td>Andrew Larsen</td>
                            <td>andrew.larse514@gmail.com</td>
                            <td>http://andrew.vssdevelopment.com</td>
                            <td>CREATE_COMPLETE</td>
                            <td>Nov 9, 2017</td>                                                        
                            <td><button class="btn btn-danger" (click)="deleteTenant(stack.stackName)" >Delete</button></td>                            
                           
                        </tr>
                        <tr>
                            <td>Andrew Larsen</td>
                            <td>andrew.larse514@gmail.com</td>
                            <td>http://andrew.vssdevelopment.com</td>
                            <td>CREATE_COMPLETE</td>
                            <td>Nov 9, 2017</td>                                                        
                            <td><button class="btn btn-danger" (click)="deleteTenant(stack.stackName)" >Delete</button></td>                            
                           
                        </tr>
                        <tr>

                            <td>Andrew Larsen</td>
                            <td>andrew.larse514@gmail.com</td>
                            <td>http://andrew.vssdevelopment.com</td>
                            <td>CREATE_COMPLETE</td>
                            <td>Nov 9, 2017</td>                                                        
                            <td><button class="btn btn-danger" (click)="deleteTenant(stack.stackName)" >Delete</button></td>                            
                           
                        </tr>
                    </tbody>
                    <!--Table body-->
                </table>
                <!--Table-->
            </div>
    
            <hr class="my-0">
    
            <!--Bottom Table UI-->
            <div class="d-flex justify-content-between">
    
            
            </div>
            <!--Bottom Table UI-->
    
        </div>
    </div>